@import url("https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  background-color: #181818;
  color: #f27fa2;
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  box-shadow: 0px 6px 10px rgba(255, 255, 255, 0.55);
}

body {
  font-family: "Kdam Thmor Pro", "open sans", "sans serif";
  background-color: #1f211e;
  color: #fff;
  line-height: 1.6;
}

.container {
  max-width: 768px;
  margin: auto;
  padding: 0 20px;
}

img {
  width: 40px;
  margin-right: 10px;
}

.card {
  background-color: #fff;
  color: #333;
  padding: 40px 50px;
  margin: 20px 0;
  position: relative;
  font-family: "open sans", "sans serif";
  width: 100%;
}

.buttons {
  position: absolute;
  top: 10px;
  right: 20px;
}

.doneButton,
.deleteButton {
  cursor: pointer;
  background: none;
  border: none;
  margin-right: 10px;
}

.status-indicator {
  background-color: #f27fa2;
  margin: 20px 0;
  width: 20px;
}

.status-indicator-done {
  background-color: #197cc9;
}

.BoxStyle {
  display: flex;
  align-items: stretch;
  width: 100%;
}

.input-form {
  background-color: transparent;
  padding: 40px 50px;
  margin: 20px 0;
  position: relative;
  font-family: "open sans", "sans serif";
}

.input-form h2 {
  font-size: 22px;
  font-weight: 600;
  text-align: center;
}

.input-group {
  display: flex;
  flex-direction: row;
  border: 1px solid #f27fa2;
  border-radius: 4px;
}

input {
  padding: 8px 0px 8px 8px;
  color: #eee;
  flex-grow: 2;
  border: none;
  font-size: 16px;
  background-color: transparent;
}

input:focus {
  outline: none;
}

@media (max-width: 600px) {
  .input-group input {
    width: 80%;
  }
}

.btn {
  color: #181818;
  border: 0;
  border-radius: 2px;
  background-color: #f27fa2;
  width: 100px;
  height: 40px;
  cursor: pointer;
  font-family: "open sans", "sans serif";
}

.btn:disabled {
  background-color: #cccccc;
  color: #333;
  cursor: auto;
}

.about-link {
  display: flex;
  justify-content: flex-end;
}
